body {
    min-height: 200vh;
    background-color: #EDF2F5;
    overflow: auto;
}

.bg-blue {
    background-color: #3F3F63;
}

.bg-gray {
    background-color: #88A1B2;
}

.text-white {
    color: white;
}

.navbar-toggler {}

.btn-pink {
    color: white;
    background-color: #EE5462;
}

.btn-pnk:hover,
.btn-pink:focus {
    color: white;
    background-color: #DA4F5D;
}

/*Side bar*/
.navbar {

    /* height: 100vh; */
    padding: 0;
    background-color: #3F3F63;
    overflow: auto;
    background-color: #383957;
}

.navbar-top {
    /* padding: 30px 0 0 0 !important; */
    background-color: #3F3F63;
    width: 100%;
}

/*Side bar - Header*/
.navbar>div:first-child {
    font-weight: bold;
    font-size: 15px;
    background-color: #383957;
}

.navbar>div:first-child h4 {
    color: #e0deeb;

}

.navbar>div:first-child h5 {
    color: #b6b4c1;
}

/*Side bar - List*/
.navbar .list-group {
    background-color: #3F3F63;

}

.navbar .list-group>span {
    color: #b6b4c1;
    display: block;
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 300;
}

.navbar .list-group .list-group-item,
.navbar .list-group .list-group-item:focus {
    background-color: #3F3F63;
    color: #b6b4c1;
    border: 0;
    padding: 20px 90px;
}

.navbar .list-group .list-group-item.active,
.navbar .list-group .list-group-item:hover {
    background-color: #383957;
    color: #e0deeb;
}

.navbar .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar .list-group .list-group-item .badge,
.navbar .list-group .list-group-item.active .badge {
    background-color: #EE5462;
    color: #e0deeb;
}

/* SIDE BAR - LOGOUT*/
.navbar div:last-child {}

.navbar div:last-child .btn {
    padding: 10px 40px;
    margin: 15px 50px
}

.btn-bg-color-violet {
    background-color: #3F3F63;
}

/* CONTENT */
.content {
    padding: 0 40px;
}

.content .card {
    border: none;
}

.table thead tr th,
.table thead tr td {
    vertical-align: middle;
}

.table,
.table thead tr th {
    border-color: #80A1B2
}