body {
    min-height: 200vh;
    background-color: #EDF2F5;
    overflow: auto;
}

.bg-blue {
    background-color: #3F3F63;
}

.bg-gray {
    background-color: #88A1B2;
}

.text-white {
    color: white;
}

.navbar-toggler {}

.btn-pink {
    color: white;
    background-color: #EE5462;
}

.btn-pnk:hover,
.btn-pink:focus {
    color: white;
    background-color: #DA4F5D;
}

/*Side bar*/
.navbar {

    /* height: 100vh; */
    padding: 0;
    background-color: #3F3F63;
    overflow: auto;
    background-color: #383957;
}

.navbar-top {
    /* padding: 30px 0 0 0 !important; */
    background-color: #3F3F63;
    width: 100%;
}

/*Side bar - Header*/
.navbar>div:first-child {
    font-weight: bold;
    font-size: 15px;
    background-color: #383957;
}

.navbar>div:first-child h4 {
    color: #e0deeb;

}

.navbar>div:first-child h5 {
    color: #b6b4c1;
}

/*Side bar - List*/
.navbar .list-group {
    background-color: #3F3F63;

}

.navbar .list-group>span {
    color: #b6b4c1;
    display: block;
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 300;
}

.navbar .list-group .list-group-item,
.navbar .list-group .list-group-item:focus {
    background-color: #3F3F63;
    color: #b6b4c1;
    border: 0;
    padding: 20px 90px;
}

.navbar .list-group .list-group-item.active,
.navbar .list-group .list-group-item:hover {
    background-color: #383957;
    color: #e0deeb;
}

.navbar .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar .list-group .list-group-item .badge,
.navbar .list-group .list-group-item.active .badge {
    background-color: #EE5462;
    color: #e0deeb;
}

/* SIDE BAR - LOGOUT*/
.navbar div:last-child {}

.navbar div:last-child .btn {
    padding: 10px 40px;
    margin: 15px 50px
}

.btn-bg-color-violet {
    background-color: #3F3F63;
}

/* CONTENT */
.content {
    padding: 0 40px;
}

.content .card {
    border: none;
}

.table thead tr th,
.table thead tr td {
    vertical-align: middle;
}

.table,
.table thead tr th {
    border-color: #80A1B2
}


/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50% !important;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
            width: 45%;
            padding: .75rem;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		.order-table td:nth-of-type(1):before { content: "Id"; }
		.order-table td:nth-of-type(2):before { content: "Order Details"; }
		.order-table td:nth-of-type(3):before { content: "Customer"; }
		.order-table td:nth-of-type(4):before { content: "Driver"; }
		.order-table td:nth-of-type(5):before { content: "Total"; }
		.order-table td:nth-of-type(6):before { content: "Status"; }
        .order-table td:nth-of-type(7):before { content: "Action"; }
        tr td:first-child{
           border-color: #80A1B2;
        }

        .meal-table td:nth-of-type(1):before { content: "Id"; }
		.meal-table td:nth-of-type(2):before { content: "Name"; }
		.meal-table td:nth-of-type(3):before { content: "Short Description"; }
		.meal-table td:nth-of-type(4):before { content: "Price"; }
        .meal-table td:nth-of-type(5):before { content: "Image"; text-align: left;}
        .meal-table td{text-align: left !important;}
    }
